* {
    margin: 0;
    padding: 0;
    font-family: sans sans-serif;
}

.header1 {
    background-color: white;
    width: 100%;
    height: 100px;
    
}

.heading {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    justify-items: center;
    /* padding: 30px; */
    padding-top: 20px;
}

.image {
    height: 50px;
    margin-left: 40px;
}

.text1 {
    line-height: 20px;
    border: 3px solid black;
    height: 20px;
    padding: 3px;
    border-radius: 5px;
    margin: 10px;

}
.header1 a {
    text-decoration: none;
    font-size: 20px;
}

.nav {
    background-color: blue;
    height: 70px;
    width: 100%;
    text-align: center;
}

.navbar {
    display: flex;
    line-height: 60px;
    

}

.navbar li {
    list-style: none;
} 

.navbar li a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-size: 20px;

}

.footerbar {
    display: flex;
    background-color: #EAF1F7;
    height: 350px;
    width: 100%;
}
.footer {
    padding:5% 4%;

}
.footer a {
    text-decoration: none;
    
}
.text-box {
    color: blue;
}
.checkbtn {
    display: none;
}
#check {
    display: none;
}
.photo {
    display: flex;
    width: 100%;

}
.pic1 {
    width: 33%;
    height: 200px;
   

}



@media (max-width:800px) {
   
   .footerbar {
    display: block;
    text-align: center;
   }

   .text1{
    display: none;
    
   }

   .navbar li a {
    margin-left: 8px;
    font-size: 30px;
   }
   .heading {
    display: block;
    text-align: center;
    justify-items: center;
    justify-content: center;
   }
   .checkbtn {
    display: block;
    font-size: 40px;
    padding-top: 10px;
}
.navbar{
    display: block;
    background-color:black;
    margin-top: 13px;
}
.navbar{
    left: -100%;
    width: 100%;
    transition: 1s;
    position: fixed;
}

 #check:checked~.navbar{
    left: 0%;
}
.photo  {
    display: block;
}
.pic1 {
    width: 100%;
    height: 300px;
    /* padding: 10px;
} */

}
}